<header id="header" class="header">

    <div class="branding">
        <div class="container position-relative d-flex align-items-center justify-content-between">
            <a href="index.php" class="logo d-flex align-items-center">
                <img src="view/assets/img/logo.png" alt="">
                <h1 class="sitename">REPLAY<br/></h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <!-- Pestaña shop -->
                    <li><a href="index.php?page=controller_shop&op=list">Tienda</a></li>
                    <!-- Search -->
                    <div class="div_search">
                        <select class="search_tipo_consola" id="search_tipo_consola"></select>
                        <select class="search_modelo_consola" id="search_modelo_consola"></select>
                        <input type="text" id="search_ubicacion" autocomplete="off" placeholder="Ubicación"/>
                        <div id="search_autocomplete"></div>
                        <input type="button" value="buscar" id="search_btn"/>
                    </div>
                    <!-- Auth -->
                    <div class="div_login" id="auth_btn"></div>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
            
        </div>
    </div>
</header>