<header id="header" class="header">

    <div class="branding">
        <div class="container position-relative d-flex align-items-center justify-content-between">
            <a href="index.php" class="logo d-flex align-items-center">
                <img src="view/assets/img/logo.png" alt="">
                <h1 class="sitename">REPLAY<br/></h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <!-- Pestaña shop -->
                    <li><a href="index.php?page=controller_shop&op=list">Tienda</a></li>
                    <!-- Search -->
                    <div class="div_search">
                        <select class="search_tipo_consola" id="search_tipo_consola"></select>
                        <select class="search_modelo_consola" id="search_modelo_consola"></select>
                        <input type="text" id="search_ubicacion" autocomplete="off" placeholder="Ubicación"/>
                        <div id="search_autocomplete"></div>
                        <input type="button" value="buscar" id="search_btn"/>
                    </div>
                    <!-- <li><a href="index.php?page=controller_homepage&op=list" class="active">Inicio</a></li> -->
                    <!-- <li><a href="index.php?page=aboutus">Conocenos</a></li>
                    <li><a href="index.php?page=services">Servicios</a></li>
                    <li><a href="index.php?page=contactus">Contacto</a></li>
                    <li><a href="index.php?page=portfolio">Portfolio</a></li>
                    <li><a href="index.php?page=team">Team</a></li>
                    <li><a href="index.php?page=pricing">Pricing</a></li>
                    <li><a href="index.php?page=blog">Blog</a></li>
                    <li class="dropdown">
                        <a href="#"><span>Dropdown</span>
                            <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            <li><a href="#">Dropdown 1</a></li>
                            <li class="dropdown">
                                <a href="#"><span>Deep Dropdown</span>
                                    <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                    <li><a href="#">Deep Dropdown 1</a></li>
                                    <li><a href="#">Deep Dropdown 2</a></li>
                                    <li><a href="#">Deep Dropdown 3</a></li>
                                    <li><a href="#">Deep Dropdown 4</a></li>
                                    <li><a href="#">Deep Dropdown 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Dropdown 2</a></li>
                            <li><a href="#">Dropdown 3</a></li>
                            <li><a href="#">Dropdown 4</a></li>
                        </ul>
                    </li> -->
                    <!-- <li><a href="index.php?page=controller_course&op=list">Cursos</a></li> -->
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
            
        </div>
    </div>
</header>