<!DOCTYPE html>
<html>

<!-- <head>
    <meta charset="utf-8">
    <title>Udemy David MB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="view/css/style.css">
</head> -->

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Replay.com</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link href="view/assets/img/favicon.png" rel="icon" />
    <link href="view/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="view/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="view/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="view/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="view/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="view/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />

    <!-- SweetAlert -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- jQuery -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- JAVASCRIPT -->
	<script type="text/javascript" src="view/assets/js/utils.js"></script>
    <script type="text/javascript" src="view/assets/js/main_auth.js"></script>
    <script type="text/javascript" src="view/assets/js/activity_auth.js"></script>
    <script src="module/search/model/search.js"></script>
	<script src="module/home/model/home.js"></script>

    <!-- GLIDER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>

    <!-- BOXICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css">

    <!-- SLICK -->
    <link rel="stylesheet" type="text/css" href="view/assets/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="view/assets/slick/slick-theme.css"/>
    <script type="text/javascript" src="view/assets/slick/slick.min.js"></script>

    <!-- Main CSS File -->
    <link href="view/assets/css/main.css" rel="stylesheet"/>
    <link href="view/assets/css/home.css" rel="stylesheet"/>
    <link href="view/assets/css/search.css" rel="stylesheet"/>
    <link href="view/assets/css/auth.css" rel="stylesheet"/>


</head>

<body class="index-page">