<main class="main">
  <!-- SHOP SECTION -->
  <section id="shop_section" class="shop_section">

    <div class="container__shop section-title" data-aos="fade-up">
      <h2>Todos nuestros productos</h2>

      <div class="list_product_shop">
        
        <!-- PRODUCTS LIST -->
        <div id="container_shop" class="content_shop_products"></div>

        <!-- Contenedor para Google Maps (por ahora vacío) -->
        <div id="map-container"></div>

      </div>

      <!-- details-products -->
      <div id="details_product_shop">
        <div class="imagen_producto" id="container-date-img"> </div>
        <div class="detalles_producto" id="container-date-product"> </div>
      </div>

    </div>
  </section>
</main>