<main class="main">
  <!-- SHOP SECTION -->
  <section id="shop_section" class="shop_section">

    <div class="container__shop section-title" data-aos="fade-up">
      <h2>Explora nuestra tienda</h2>

      <!-- LISTA DE PRODUCTOS -->
      <div class="list_product_shop">
        <button id="filterToggle" class="filter-toggle">&nbsp;Filtros</button>

        <!-- FILTROS -->
        <div class="filters_shop"></div>
        
        <!-- PRODUCTOS -->
        <div id="container_shop" class="content_shop_products"></div>

        <!-- Contenedor para Google Maps (por ahora vacío) -->
        <div id="container_map">aquí va <br><br><br><br><br><br>google maps <br><br><br><br><br><br> </div>

      </div>

      <!-- details-products -->
      <div id="details_product_shop">
        <!-- Primera fila: Carrusel de imágenes y detalles generales -->
        <div class="top-section">
          <div class="imagen_producto" id="container-date-img"></div>
          <div class="detalles_producto" id="container-date-product"></div>
          <div class="compra_producto" id="container-date-purchase"></div>
        </div>
        
        <!-- Segunda fila: Detalles extra del producto -->
        <div class="detalles_extra"></div>

        <!-- Tercera fila: Valoraciones -->
        <div class="valoraciones">
          <h3>Valoraciones</h3>
          <p>Sección para las valoraciones del producto</p>
        </div>

        <!-- Cuarta fila: Productos relacionados -->
        <div class="productos_relacionados">
          <h3>Productos relacionados</h3>
          <p>Aquí podrás encontrar algunos productos relacionados</p>
        </div>

      </div>


    </div>
  </section>
</main>